import(synapter)
importFrom("utils", "unzip")
importFrom("utils", "data")

export("getHDMSeFinalPeptide",
       "getMSeFinalPeptide",
       "getMSePep3D",
       "loadMaster",
       "getMaster",
       "getFasta",
       "synobj2RData")
